.menuStyle {
    border : 5px solid green;
}

.ant-modal-content{
    width: 1000px;
    top: 10%;
    position: relative;
    right: 50%;
}

.modal-Layout{
    width: 800px;
    height: 400px;
}

.action-button-bg{
    background-color: #75b6eb;
    margin: 5px;
    border-radius: 5px;
}